.tabelaPalavras {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  height: 10%;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 10vw;
}

.tabelaPalavras th,
.tabelaPalavras td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.letraCerta {
  background-color: #18e018;
}

.letraErrada {
  background-color: #e01515;
}

.letraNula {
  background-color: transparent;
}
