.tabelaPalavras {
  width: 70%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.tabelaPalavras th,
.tabelaPalavras td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.tabelaPalavras td[data-presente="true"] {
  font-weight: bold;
  color: #fff;
}

.letra-correspondente {
  background-color: green;
}

.letra-nao-correspondente {
  background-color: red;
}
