.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin-left: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.erro {
  color: #de0100;
  visibility: visible;
  font-size: 0.9rem;
}

.erroSem {
  color: #de0100;
  visibility: hidden;
}

.input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.inputError {
  width: 70%;
  padding: 10px;
  border: 1px solid #de0100;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  width: 40%;
  height: 35px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}
