.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  gap: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.erro {
  color: #de0100;
}

.input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.inputError {
  width: 30%;
  padding: 10px;
  border: 1px solid #de0100;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  width: 15%;
  height: 35px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}
