.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  height: 3vh;
  color: #dddddd;
  gap: 7px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
}

.footerLink {
  color: #dddddd;
  transition: 0.5s;
}
